# OpenAPI 3.0 specs for the most critical modules
# Generated by nm-ai-brain-department-generator
# Source: route_schemas.js + server.js

openapi: 3.0.3
info:
  title: NamaMedical (jumanasoft.com) Hospital OS API
  version: 1.0.0
  description: |
    Hospital OS API for the Kingdom of Saudi Arabia.
    60+ clinical + admin + support departments.
    Multi-tenant · RLS · ZATCA · NPHIES · CBAHI · PDPL · HIPAA-aligned.
  contact:
    name: jumanaSoft
    url: https://jumanasoft.com
servers:
  - url: https://jumanasoft.com/api
    description: Production
  - url: http://localhost:3000/api
    description: Local dev

security:
  - sessionAuth: []
  - bearerAuth: []

tags:
  - name: Patients
    description: Patient demographics + chart
  - name: Encounters
    description: OPD/IPD visits
  - name: Clinical
    description: Notes, problems, plans
  - name: Pharmacy
    description: Outpatient + inpatient + controlled
  - name: Lab
    description: Orders, specimens, results
  - name: Radiology
    description: Orders, worklist, DICOM, reports
  - name: Surgery
    description: OR, pre-op, post-op, anesthesia
  - name: ER
    description: Emergency department
  - name: Oncology
    description: Regimens, cycles, genomics
  - name: Cardiology
    description: ECG, cath, echo, HF risk
  - name: ICU
    description: Critical care monitoring
  - name: OB/GYN + Peds
    description: Pregnancy, delivery, neonatal
  - name: Pathology
    description: Specimens, blocks, slides, reports
  - name: Billing
    description: Invoices, payments, refunds
  - name: Insurance
    description: Claims, pre-auth, NPHIES
  - name: ZATCA
    description: Saudi e-invoicing
  - name: HR
    description: Employees, attendance
  - name: Inventory
    description: Stock, purchase orders
  - name: Maintenance
    description: Equipment, work orders
  - name: Quality
    description: Incidents, CAPA, KPIs
  - name: Infection
    description: Surveillance, outbreaks, isolation
  - name: AI
    description: Orchestrators + voice dictation + CDS-hooks
  - name: Admin
    description: Settings, users, integrations

paths:

  /patients:
    post:
      tags: [Patients]
      summary: Create patient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /patients/{id}:
    get:
      tags: [Patients]
      summary: Get patient
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'

  /patients/{id}/consent:
    post:
      tags: [Patients]
      summary: Record patient consent
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientConsentCreate'
      responses:
        '201': { description: OK }

  /encounters/{id}/sign:
    post:
      tags: [Encounters]
      summary: Sign encounter (locks note + audit)
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncounterSign'
      responses:
        '200': { description: OK }

  /clinical/notes:
    post:
      tags: [Clinical]
      summary: Create clinical note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalNoteUpsert'
      responses:
        '201': { description: Created }

  /clinical/notes/{id}/lock:
    post:
      tags: [Clinical]
      summary: Lock clinical note (immutable after)
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalNoteLock'
      responses:
        '200': { description: OK }

  /prescriptions:
    post:
      tags: [Pharmacy]
      summary: Create prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionCreate'
      responses:
        '201': { description: Created }

  /pharmacy/dispense:
    post:
      tags: [Pharmacy]
      summary: Dispense medication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PharmacyDispense'
      responses:
        '200': { description: OK }

  /pharmacy/wasfaty:
    post:
      tags: [Pharmacy]
      summary: Wasfaty (Saudi e-prescription) intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PharmacyWasfatyDispenseIntent'
      responses:
        '200': { description: OK }

  /lab/orders:
    post:
      tags: [Lab]
      summary: Create lab order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrderCreate'
      responses:
        '201': { description: Created }

  /lab/results:
    post:
      tags: [Lab]
      summary: Enter lab result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabResultCreate'
      responses:
        '201': { description: Created }

  /lab/results/{id}/verify:
    put:
      tags: [Lab]
      summary: Verify lab result
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabResultVerify'
      responses:
        '200': { description: OK }

  /radiology/orders:
    post:
      tags: [Radiology]
      summary: Create radiology order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabOrderCreate'
      responses:
        '201': { description: Created }

  /radiology/reports:
    post:
      tags: [Radiology]
      summary: Create radiology report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RadiologyReportCreate'
      responses:
        '201': { description: Created }

  /radiology/reports/{id}/sign:
    put:
      tags: [Radiology]
      summary: Sign radiology report
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RadiologyReportSign'
      responses:
        '200': { description: OK }

  /surgeries:
    post:
      tags: [Surgery]
      summary: Create surgery booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurgeryCreate'
      responses:
        '201': { description: Created }

  /or/slots/reserve:
    post:
      tags: [Surgery]
      summary: Reserve OR slot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrSlotReserve'
      responses:
        '201': { description: Created }

  /or/surgeries/{id}/who-checklist/{phase}:
    post:
      tags: [Surgery]
      summary: Record WHO checklist phase (sign-in / time-out / sign-out)
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - name: phase
          in: path
          required: true
          schema:
            type: string
            enum: [sign-in, time-out, sign-out]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrWhoChecklist'
      responses:
        '200': { description: OK }

  /er/triage:
    post:
      tags: [ER]
      summary: ER triage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErTriage'
      responses:
        '201': { description: Created }

  /er/disposition:
    post:
      tags: [ER]
      summary: ER disposition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErDisposition'
      responses:
        '200': { description: OK }

  /adt/admit:
    post:
      tags: [ER, Patients]
      summary: Admit patient (ADT)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdtAdmit'
      responses:
        '201': { description: Created }

  /adt/discharge:
    post:
      tags: [ER, Patients]
      summary: Discharge patient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdtDischarge'
      responses:
        '200': { description: OK }

  /oncology/patient-regimens:
    post:
      tags: [Oncology]
      summary: Create oncology regimen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OncologyRegimenCreate'
      responses:
        '201': { description: Created }

  /invoices:
    post:
      tags: [Billing]
      summary: Create invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreate'
      responses:
        '201': { description: Created }

  /invoices/{id}/pay:
    post:
      tags: [Billing]
      summary: Pay invoice
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePay'
      responses:
        '200': { description: OK }

  /insurance/claims:
    post:
      tags: [Insurance]
      summary: Create insurance claim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceClaimCreate'
      responses:
        '201': { description: Created }

  /nphies/submit-claim/{id}:
    post:
      tags: [Insurance]
      summary: Submit claim to NPHIES
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NphiesClaimSubmit'
      responses:
        '200': { description: OK }

  /zatca/generate:
    post:
      tags: [ZATCA]
      summary: Generate ZATCA e-invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZatcaGenerate'
      responses:
        '200': { description: OK }

  /zatca/credit-note:
    post:
      tags: [ZATCA]
      summary: Create ZATCA credit note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZatcaCreditNote'
      responses:
        '201': { description: Created }

  /ai/cardiology/analyze-ecg:
    post:
      tags: [AI]
      summary: AI ECG analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiOrchestratorInvoke'
      responses:
        '200': { description: OK }

  /ai/critical/predict-det:
    post:
      tags: [AI]
      summary: AI deterioration prediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiOrchestratorInvoke'
      responses:
        '200': { description: OK }

  /ai/cds-hooks:
    post:
      tags: [AI]
      summary: CDS-Hooks service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsHookInvoke'
      responses:
        '200': { description: OK }

  /ai/voice-dictation/start:
    post:
      tags: [AI]
      summary: Start voice dictation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceDictationStart'
      responses:
        '201': { description: Created }

  /ai/voice-dictation/{id}/finalize:
    post:
      tags: [AI]
      summary: Finalize voice dictation
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceDictationFinalize'
      responses:
        '200': { description: OK }

  /infection/surveillance:
    post:
      tags: [Infection]
      summary: Record infection surveillance event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfectionSurveillanceCreate'
      responses:
        '201': { description: Created }

  /infection/outbreaks:
    post:
      tags: [Infection]
      summary: Report outbreak
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfectionOutbreakCreate'
      responses:
        '201': { description: Created }

  /quality/incidents:
    post:
      tags: [Quality]
      summary: Report quality incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityIncidentCreate'
      responses:
        '201': { description: Created }

  /maintenance/work-orders:
    post:
      tags: [Maintenance]
      summary: Create maintenance work order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceWorkOrderCreate'
      responses:
        '201': { description: Created }

components:

  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: nama.sid
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden (RBAC)

  schemas:

    # Common
    ValidationError:
      type: object
      properties:
        error:
          type: string
        field:
          type: string

    # Patient
    PatientCreate:
      type: object
      required: [mrn, given_name, family_name, gender, dob]
      properties:
        mrn:
          type: string
          maxLength: 64
        given_name:
          type: string
          maxLength: 200
        family_name:
          type: string
          maxLength: 200
        gender:
          type: enum
          values: [M, F, Other]
        dob:
          type: string
          format: date
        national_id:
          type: string
          maxLength: 20
        phone:
          type: string
        email:
          type: string

    Patient:
      allOf:
        - $ref: '#/components/schemas/PatientCreate'
        - type: object
          properties:
            id: { type: integer }
            tenant_id: { type: integer }
            created_at: { type: string, format: date-time }

    PatientConsentCreate:
      type: object
      required: [consent_type]
      properties:
        consent_type:
          type: enum
          values: [general, surgical, anesthesia, research, data-sharing, other]
        signature_data:
          type: string
          maxLength: 200000
        expiration_date:
          type: string
          format: date

    # Encounter
    EncounterSign:
      type: object
      properties:
        signature_data:
          type: string
        notes:
          type: string

    # Clinical
    ClinicalNoteUpsert:
      type: object
      required: [patient_id, note_type, body]
      properties:
        patient_id: { type: integer }
        encounter_id: { type: integer }
        note_type:
          type: enum
          values: [progress, admission, discharge, consult, procedure, other]
        template_id: { type: integer }
        body:
          type: string
          maxLength: 50000
        subjective: { type: string }
        objective: { type: string }
        assessment: { type: string }
        plan: { type: string }

    ClinicalNoteLock:
      type: object
      properties:
        lock_reason:
          type: string
          maxLength: 1000

    # Pharmacy
    PrescriptionCreate:
      type: object
      required: [patient_id, medication_name, dose, route, frequency]
      properties:
        patient_id: { type: integer }
        encounter_id: { type: integer }
        medication_name: { type: string }
        dose: { type: string }
        route: { type: enum, values: [PO, IV, IM, SC, topical, inhaled, other] }
        frequency: { type: string }
        duration_days: { type: integer }
        refills: { type: integer }
        notes: { type: string }

    PharmacyDispense:
      type: object
      required: [prescription_id, qty]
      properties:
        prescription_id: { type: integer }
        qty: { type: integer }
        batch_number: { type: string }
        expiry_date: { type: string, format: date }
        counseling_notes: { type: string }

    PharmacyWasfatyDispenseIntent:
      type: object
      required: [patient_id, medication_name]
      properties:
        patient_id: { type: integer }
        medication_name: { type: string }
        dose: { type: string }
        quantity: { type: integer }
        pharmacy_nphies_id: { type: string }

    # Lab
    LabOrderCreate:
      type: object
      required: [patient_id, test_code]
      properties:
        patient_id: { type: integer }
        encounter_id: { type: integer }
        test_code: { type: string }
        priority:
          type: enum
          values: [routine, urgent, stat]
        clinical_info: { type: string }

    LabResultCreate:
      type: object
      required: [order_id, value, units]
      properties:
        order_id: { type: integer }
        value: { type: string }
        units: { type: string }
        reference_range: { type: string }
        abnormal_flag: { type: string }

    LabResultVerify:
      type: object
      properties:
        verified_by: { type: integer }
        notes: { type: string }

    # Radiology
    RadiologyReportCreate:
      type: object
      required: [order_id, findings, impression]
      properties:
        order_id: { type: integer }
        findings: { type: string }
        impression: { type: string }
        recommendations: { type: string }

    RadiologyReportSign:
      type: object
      properties:
        signature_data: { type: string }
        notes: { type: string }

    # Surgery
    SurgeryCreate:
      type: object
      required: [patient_id, surgery_type]
      properties:
        patient_id: { type: integer }
        encounter_id: { type: integer }
        surgery_type: { type: string }
        scheduled_date: { type: string, format: date }
        urgency:
          type: enum
          values: [elective, urgent, emergency]
        surgeon_id: { type: integer }

    OrSlotReserve:
      type: object
      required: [room_id, slot_start, slot_end]
      properties:
        room_id: { type: integer }
        slot_start: { type: string, format: date-time }
        slot_end: { type: string, format: date-time }
        surgery_id: { type: integer }

    OrWhoChecklist:
      type: object
      required: [phase, items]
      properties:
        phase:
          type: enum
          values: [sign-in, time-out, sign-out]
        items: { type: string }
        confirmed_by: { type: string }

    # ER
    ErTriage:
      type: object
      required: [patient_id, triage_level, chief_complaint]
      properties:
        patient_id: { type: integer }
        triage_level:
          type: enum
          values: [ESI-1, ESI-2, ESI-3, ESI-4, ESI-5]
        chief_complaint: { type: string }
        arrival_time: { type: string, format: date-time }

    ErDisposition:
      type: object
      required: [encounter_id, disposition]
      properties:
        encounter_id: { type: integer }
        disposition:
          type: enum
          values: [discharge, admit, transfer, observation, ama, expired]

    # ADT
    AdtAdmit:
      type: object
      required: [patient_id]
      properties:
        patient_id: { type: integer }
        bed_id: { type: integer }
        admission_type:
          type: enum
          values: [elective, emergency, urgent, observation]
        attending_doctor_id: { type: integer }

    AdtDischarge:
      type: object
      required: [encounter_id]
      properties:
        encounter_id: { type: integer }
        discharge_type:
          type: enum
          values: [home, transfer, ama, expired, against_advice]

    # Oncology
    OncologyRegimenCreate:
      type: object
      required: [patient_id, regimen_name]
      properties:
        patient_id: { type: integer }
        regimen_name: { type: string }
        cycle_number: { type: integer }
        start_date: { type: string, format: date }

    # Billing
    InvoiceCreate:
      type: object
      required: [patient_id, line_items]
      properties:
        patient_id: { type: integer }
        line_items:
          type: array
          items:
            type: object
            properties:
              service_code: { type: string }
              qty: { type: integer }
              unit_price: { type: number }
        discount: { type: number }
        tax_rate: { type: number }

    InvoicePay:
      type: object
      required: [amount]
      properties:
        amount: { type: number }
        payment_method:
          type: enum
          values: [cash, card, bank-transfer, insurance, other]
        reference: { type: string }

    # Insurance
    InsuranceClaimCreate:
      type: object
      required: [patient_id, payer_id, total]
      properties:
        patient_id: { type: integer }
        payer_id: { type: integer }
        invoice_id: { type: integer }
        total: { type: number }
        line_items: { type: array }

    NphiesClaimSubmit:
      type: object
      properties:
        submission_notes: { type: string }
        force_submit: { type: boolean }

    # ZATCA
    ZatcaGenerate:
      type: object
      required: [invoice_id]
      properties:
        invoice_id: { type: integer }
        format:
          type: enum
          values: [xml, json, pdf]

    ZatcaCreditNote:
      type: object
      required: [invoice_id]
      properties:
        invoice_id: { type: integer }
        reason: { type: string }
        amount: { type: number }

    # AI
    AiOrchestratorInvoke:
      type: object
      required: [patient_id]
      properties:
        patient_id: { type: integer }
        context: { type: string }

    CdsHookInvoke:
      type: object
      required: [hook]
      properties:
        hook:
          type: enum
          values: [patient-view, medication-prescribe, order-select, order-sign]
        hookInstance: { type: string }
        context: { type: string }
        patientId: { type: integer }

    VoiceDictationStart:
      type: object
      required: [patientId]
      properties:
        patientId: { type: integer }
        encounterId: { type: integer }
        language:
          type: enum
          values: [ar-SA, en-US, fr-FR, ur-PK]

    VoiceDictationFinalize:
      type: object
      properties:
        transcript: { type: string }
        encounterId: { type: integer }

    # Infection
    InfectionSurveillanceCreate:
      type: object
      properties:
        patient_id: { type: integer }
        organism: { type: string }
        infection_type:
          type: enum
          values: [hai, hai-uti, hai-ssi, hai-pneumonia, hai-bsi, c-diff, mrsa, vre, other]

    InfectionOutbreakCreate:
      type: object
      required: [outbreak_name]
      properties:
        outbreak_name: { type: string }
        suspected_source: { type: string }
        case_count: { type: integer }

    # Quality
    QualityIncidentCreate:
      type: object
      required: [incident_date, incident_type]
      properties:
        incident_date: { type: string, format: date }
        incident_type:
          type: enum
          values: [patient-safety, medication-error, fall, equipment, documentation, near-miss, other]
        severity:
          type: enum
          values: [low, moderate, high, critical, sentinel]
        description: { type: string }
        patient_id: { type: integer }

    # Maintenance
    MaintenanceWorkOrderCreate:
      type: object
      required: [work_type, description]
      properties:
        equipment_id: { type: integer }
        work_type:
          type: enum
          values: [corrective, preventive, inspection, calibration, installation, other]
        priority:
          type: enum
          values: [low, normal, high, urgent]
        description: { type: string }
