--
-- PostgreSQL database dump
--

\restrict FkNFUPKtmrjCUNtM5kuzsWqnP3m6ZZItH7aPdYKJFro0uIc9r9GUbYCfsvcVnSX

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admissions (
    id integer NOT NULL,
    patient_id integer,
    patient_name text DEFAULT ''::text,
    admission_type text DEFAULT 'Regular'::text,
    admission_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    admitting_doctor text DEFAULT ''::text,
    attending_doctor text DEFAULT ''::text,
    department text DEFAULT ''::text,
    ward_id integer,
    bed_id integer,
    diagnosis text DEFAULT ''::text,
    icd10_code text DEFAULT ''::text,
    admission_orders text DEFAULT ''::text,
    diet_order text DEFAULT 'Regular'::text,
    activity_level text DEFAULT 'Bed Rest'::text,
    dvt_prophylaxis text DEFAULT ''::text,
    expected_los integer DEFAULT 3,
    insurance_auth text DEFAULT ''::text,
    status text DEFAULT 'Active'::text,
    discharge_date text DEFAULT ''::text,
    discharge_type text DEFAULT ''::text,
    discharge_summary text DEFAULT ''::text,
    discharge_instructions text DEFAULT ''::text,
    discharge_medications text DEFAULT ''::text,
    followup_date text DEFAULT ''::text,
    followup_doctor text DEFAULT ''::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer,
    facility_id integer
);


ALTER TABLE public.admissions OWNER TO postgres;

--
-- Name: admissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admissions_id_seq OWNER TO postgres;

--
-- Name: admissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admissions_id_seq OWNED BY public.admissions.id;


--
-- Name: bed_transfers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bed_transfers (
    id integer NOT NULL,
    admission_id integer,
    patient_id integer,
    from_ward integer,
    from_bed integer,
    to_ward integer,
    to_bed integer,
    transfer_reason text DEFAULT ''::text,
    transferred_by text DEFAULT ''::text,
    transfer_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer,
    branch_id integer
);


ALTER TABLE public.bed_transfers OWNER TO postgres;

--
-- Name: bed_transfers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bed_transfers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bed_transfers_id_seq OWNER TO postgres;

--
-- Name: bed_transfers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bed_transfers_id_seq OWNED BY public.bed_transfers.id;


--
-- Name: admissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admissions ALTER COLUMN id SET DEFAULT nextval('public.admissions_id_seq'::regclass);


--
-- Name: bed_transfers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bed_transfers ALTER COLUMN id SET DEFAULT nextval('public.bed_transfers_id_seq'::regclass);


--
-- Data for Name: admissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admissions (id, patient_id, patient_name, admission_type, admission_date, admitting_doctor, attending_doctor, department, ward_id, bed_id, diagnosis, icd10_code, admission_orders, diet_order, activity_level, dvt_prophylaxis, expected_los, insurance_auth, status, discharge_date, discharge_type, discharge_summary, discharge_instructions, discharge_medications, followup_date, followup_doctor, created_at, tenant_id, facility_id) FROM stdin;
\.


--
-- Data for Name: bed_transfers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bed_transfers (id, admission_id, patient_id, from_ward, from_bed, to_ward, to_bed, transfer_reason, transferred_by, transfer_date, tenant_id, branch_id) FROM stdin;
\.


--
-- Name: admissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admissions_id_seq', 1, false);


--
-- Name: bed_transfers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bed_transfers_id_seq', 1, false);


--
-- Name: admissions admissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admissions
    ADD CONSTRAINT admissions_pkey PRIMARY KEY (id);


--
-- Name: bed_transfers bed_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bed_transfers
    ADD CONSTRAINT bed_transfers_pkey PRIMARY KEY (id);


--
-- Name: idx_admissions_tenant_facility; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admissions_tenant_facility ON public.admissions USING btree (tenant_id, facility_id);


--
-- Name: TABLE admissions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.admissions TO test_rls_user;


--
-- Name: SEQUENCE admissions_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.admissions_id_seq TO test_rls_user;


--
-- Name: TABLE bed_transfers; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.bed_transfers TO test_rls_user;


--
-- Name: SEQUENCE bed_transfers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.bed_transfers_id_seq TO test_rls_user;


--
-- PostgreSQL database dump complete
--

\unrestrict FkNFUPKtmrjCUNtM5kuzsWqnP3m6ZZItH7aPdYKJFro0uIc9r9GUbYCfsvcVnSX

