{
  "openapi": "3.0.3",
  "info": {
    "title": "NamaMedical Hospital Platform API",
    "version": "1.0.0",
    "description": "Multi-tenant hospital management platform with 59 clinical departments plus AI Co-Pilot. Live at jumanasoft.com.",
    "contact": {
      "name": "NamaMedical",
      "url": "https://jumanasoft.com"
    }
  },
  "servers": [
    {
      "url": "https://jumanasoft.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Department health endpoints"
    },
    {
      "name": "ai",
      "description": "AI Co-Pilot endpoints"
    },
    {
      "name": "family_medicine",
      "description": "family_medicine department"
    },
    {
      "name": "geriatrics",
      "description": "geriatrics department"
    },
    {
      "name": "dental",
      "description": "dental department"
    },
    {
      "name": "ophthalmology",
      "description": "ophthalmology department"
    },
    {
      "name": "ent",
      "description": "ent department"
    },
    {
      "name": "sports_medicine",
      "description": "sports_medicine department"
    },
    {
      "name": "neurology",
      "description": "neurology department"
    },
    {
      "name": "orthopedics",
      "description": "orthopedics department"
    },
    {
      "name": "surgery",
      "description": "surgery department"
    },
    {
      "name": "allergy",
      "description": "allergy department"
    },
    {
      "name": "anesthesia",
      "description": "anesthesia department"
    },
    {
      "name": "audiology",
      "description": "audiology department"
    },
    {
      "name": "burn_unit",
      "description": "burn_unit department"
    },
    {
      "name": "cardiac_rehab",
      "description": "cardiac_rehab department"
    },
    {
      "name": "ccu",
      "description": "ccu department"
    },
    {
      "name": "chaplaincy",
      "description": "chaplaincy department"
    },
    {
      "name": "cicu",
      "description": "cicu department"
    },
    {
      "name": "ctu",
      "description": "ctu department"
    },
    {
      "name": "dermatology",
      "description": "dermatology department"
    },
    {
      "name": "dialysis",
      "description": "dialysis department"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "nama.sid"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "dept": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "AssessmentResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number"
          },
          "risk": {
            "type": "string"
          },
          "recommendation": {
            "type": "string"
          },
          "components": {
            "type": "object"
          },
          "cite": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/api/family_medicine/health": {
      "get": {
        "tags": [
          "health",
          "family_medicine"
        ],
        "summary": "Health check for family_medicine department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/family_medicine/patients": {
      "get": {
        "tags": [
          "patients",
          "family_medicine"
        ],
        "summary": "List patients for family_medicine",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/family_medicine/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "family_medicine"
        ],
        "summary": "Run family_medicine assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/geriatrics/health": {
      "get": {
        "tags": [
          "health",
          "geriatrics"
        ],
        "summary": "Health check for geriatrics department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/geriatrics/patients": {
      "get": {
        "tags": [
          "patients",
          "geriatrics"
        ],
        "summary": "List patients for geriatrics",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/geriatrics/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "geriatrics"
        ],
        "summary": "Run geriatrics assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dental/health": {
      "get": {
        "tags": [
          "health",
          "dental"
        ],
        "summary": "Health check for dental department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dental/patients": {
      "get": {
        "tags": [
          "patients",
          "dental"
        ],
        "summary": "List patients for dental",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dental/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "dental"
        ],
        "summary": "Run dental assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ophthalmology/health": {
      "get": {
        "tags": [
          "health",
          "ophthalmology"
        ],
        "summary": "Health check for ophthalmology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ophthalmology/patients": {
      "get": {
        "tags": [
          "patients",
          "ophthalmology"
        ],
        "summary": "List patients for ophthalmology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ophthalmology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "ophthalmology"
        ],
        "summary": "Run ophthalmology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ent/health": {
      "get": {
        "tags": [
          "health",
          "ent"
        ],
        "summary": "Health check for ent department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ent/patients": {
      "get": {
        "tags": [
          "patients",
          "ent"
        ],
        "summary": "List patients for ent",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ent/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "ent"
        ],
        "summary": "Run ent assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/sports_medicine/health": {
      "get": {
        "tags": [
          "health",
          "sports_medicine"
        ],
        "summary": "Health check for sports_medicine department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sports_medicine/patients": {
      "get": {
        "tags": [
          "patients",
          "sports_medicine"
        ],
        "summary": "List patients for sports_medicine",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/sports_medicine/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "sports_medicine"
        ],
        "summary": "Run sports_medicine assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/neurology/health": {
      "get": {
        "tags": [
          "health",
          "neurology"
        ],
        "summary": "Health check for neurology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/neurology/patients": {
      "get": {
        "tags": [
          "patients",
          "neurology"
        ],
        "summary": "List patients for neurology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/neurology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "neurology"
        ],
        "summary": "Run neurology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/orthopedics/health": {
      "get": {
        "tags": [
          "health",
          "orthopedics"
        ],
        "summary": "Health check for orthopedics department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orthopedics/patients": {
      "get": {
        "tags": [
          "patients",
          "orthopedics"
        ],
        "summary": "List patients for orthopedics",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/orthopedics/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "orthopedics"
        ],
        "summary": "Run orthopedics assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/surgery/health": {
      "get": {
        "tags": [
          "health",
          "surgery"
        ],
        "summary": "Health check for surgery department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/surgery/patients": {
      "get": {
        "tags": [
          "patients",
          "surgery"
        ],
        "summary": "List patients for surgery",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/surgery/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "surgery"
        ],
        "summary": "Run surgery assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/allergy/health": {
      "get": {
        "tags": [
          "health",
          "allergy"
        ],
        "summary": "Health check for allergy department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/allergy/patients": {
      "get": {
        "tags": [
          "patients",
          "allergy"
        ],
        "summary": "List patients for allergy",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/allergy/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "allergy"
        ],
        "summary": "Run allergy assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/anesthesia/health": {
      "get": {
        "tags": [
          "health",
          "anesthesia"
        ],
        "summary": "Health check for anesthesia department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/anesthesia/patients": {
      "get": {
        "tags": [
          "patients",
          "anesthesia"
        ],
        "summary": "List patients for anesthesia",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/anesthesia/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "anesthesia"
        ],
        "summary": "Run anesthesia assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/audiology/health": {
      "get": {
        "tags": [
          "health",
          "audiology"
        ],
        "summary": "Health check for audiology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/audiology/patients": {
      "get": {
        "tags": [
          "patients",
          "audiology"
        ],
        "summary": "List patients for audiology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/audiology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "audiology"
        ],
        "summary": "Run audiology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/burn_unit/health": {
      "get": {
        "tags": [
          "health",
          "burn_unit"
        ],
        "summary": "Health check for burn_unit department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/burn_unit/patients": {
      "get": {
        "tags": [
          "patients",
          "burn_unit"
        ],
        "summary": "List patients for burn_unit",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/burn_unit/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "burn_unit"
        ],
        "summary": "Run burn_unit assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/cardiac_rehab/health": {
      "get": {
        "tags": [
          "health",
          "cardiac_rehab"
        ],
        "summary": "Health check for cardiac_rehab department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cardiac_rehab/patients": {
      "get": {
        "tags": [
          "patients",
          "cardiac_rehab"
        ],
        "summary": "List patients for cardiac_rehab",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/cardiac_rehab/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "cardiac_rehab"
        ],
        "summary": "Run cardiac_rehab assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ccu/health": {
      "get": {
        "tags": [
          "health",
          "ccu"
        ],
        "summary": "Health check for ccu department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ccu/patients": {
      "get": {
        "tags": [
          "patients",
          "ccu"
        ],
        "summary": "List patients for ccu",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ccu/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "ccu"
        ],
        "summary": "Run ccu assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/chaplaincy/health": {
      "get": {
        "tags": [
          "health",
          "chaplaincy"
        ],
        "summary": "Health check for chaplaincy department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chaplaincy/patients": {
      "get": {
        "tags": [
          "patients",
          "chaplaincy"
        ],
        "summary": "List patients for chaplaincy",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/chaplaincy/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "chaplaincy"
        ],
        "summary": "Run chaplaincy assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/cicu/health": {
      "get": {
        "tags": [
          "health",
          "cicu"
        ],
        "summary": "Health check for cicu department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cicu/patients": {
      "get": {
        "tags": [
          "patients",
          "cicu"
        ],
        "summary": "List patients for cicu",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/cicu/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "cicu"
        ],
        "summary": "Run cicu assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ctu/health": {
      "get": {
        "tags": [
          "health",
          "ctu"
        ],
        "summary": "Health check for ctu department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ctu/patients": {
      "get": {
        "tags": [
          "patients",
          "ctu"
        ],
        "summary": "List patients for ctu",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ctu/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "ctu"
        ],
        "summary": "Run ctu assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dermatology/health": {
      "get": {
        "tags": [
          "health",
          "dermatology"
        ],
        "summary": "Health check for dermatology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dermatology/patients": {
      "get": {
        "tags": [
          "patients",
          "dermatology"
        ],
        "summary": "List patients for dermatology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dermatology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "dermatology"
        ],
        "summary": "Run dermatology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dialysis/health": {
      "get": {
        "tags": [
          "health",
          "dialysis"
        ],
        "summary": "Health check for dialysis department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dialysis/patients": {
      "get": {
        "tags": [
          "patients",
          "dialysis"
        ],
        "summary": "List patients for dialysis",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/dialysis/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "dialysis"
        ],
        "summary": "Run dialysis assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/epilepsy/health": {
      "get": {
        "tags": [
          "health",
          "epilepsy"
        ],
        "summary": "Health check for epilepsy department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/epilepsy/patients": {
      "get": {
        "tags": [
          "patients",
          "epilepsy"
        ],
        "summary": "List patients for epilepsy",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/epilepsy/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "epilepsy"
        ],
        "summary": "Run epilepsy assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/fetal_medicine/health": {
      "get": {
        "tags": [
          "health",
          "fetal_medicine"
        ],
        "summary": "Health check for fetal_medicine department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/fetal_medicine/patients": {
      "get": {
        "tags": [
          "patients",
          "fetal_medicine"
        ],
        "summary": "List patients for fetal_medicine",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/fetal_medicine/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "fetal_medicine"
        ],
        "summary": "Run fetal_medicine assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/genetics/health": {
      "get": {
        "tags": [
          "health",
          "genetics"
        ],
        "summary": "Health check for genetics department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/genetics/patients": {
      "get": {
        "tags": [
          "patients",
          "genetics"
        ],
        "summary": "List patients for genetics",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/genetics/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "genetics"
        ],
        "summary": "Run genetics assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/headache/health": {
      "get": {
        "tags": [
          "health",
          "headache"
        ],
        "summary": "Health check for headache department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/headache/patients": {
      "get": {
        "tags": [
          "patients",
          "headache"
        ],
        "summary": "List patients for headache",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/headache/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "headache"
        ],
        "summary": "Run headache assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/hematology/health": {
      "get": {
        "tags": [
          "health",
          "hematology"
        ],
        "summary": "Health check for hematology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/hematology/patients": {
      "get": {
        "tags": [
          "patients",
          "hematology"
        ],
        "summary": "List patients for hematology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/hematology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "hematology"
        ],
        "summary": "Run hematology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/icu/health": {
      "get": {
        "tags": [
          "health",
          "icu"
        ],
        "summary": "Health check for icu department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/icu/patients": {
      "get": {
        "tags": [
          "patients",
          "icu"
        ],
        "summary": "List patients for icu",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/icu/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "icu"
        ],
        "summary": "Run icu assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/immunology/health": {
      "get": {
        "tags": [
          "health",
          "immunology"
        ],
        "summary": "Health check for immunology department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/immunology/patients": {
      "get": {
        "tags": [
          "patients",
          "immunology"
        ],
        "summary": "List patients for immunology",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/immunology/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "immunology"
        ],
        "summary": "Run immunology assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/infection_control/health": {
      "get": {
        "tags": [
          "health",
          "infection_control"
        ],
        "summary": "Health check for infection_control department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/infection_control/patients": {
      "get": {
        "tags": [
          "patients",
          "infection_control"
        ],
        "summary": "List patients for infection_control",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/infection_control/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "infection_control"
        ],
        "summary": "Run infection_control assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/infectious_disease/health": {
      "get": {
        "tags": [
          "health",
          "infectious_disease"
        ],
        "summary": "Health check for infectious_disease department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/infectious_disease/patients": {
      "get": {
        "tags": [
          "patients",
          "infectious_disease"
        ],
        "summary": "List patients for infectious_disease",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/infectious_disease/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "infectious_disease"
        ],
        "summary": "Run infectious_disease assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ivf/health": {
      "get": {
        "tags": [
          "health",
          "ivf"
        ],
        "summary": "Health check for ivf department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ivf/patients": {
      "get": {
        "tags": [
          "patients",
          "ivf"
        ],
        "summary": "List patients for ivf",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/ivf/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "ivf"
        ],
        "summary": "Run ivf assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/maternal_fetal/health": {
      "get": {
        "tags": [
          "health",
          "maternal_fetal"
        ],
        "summary": "Health check for maternal_fetal department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/maternal_fetal/patients": {
      "get": {
        "tags": [
          "patients",
          "maternal_fetal"
        ],
        "summary": "List patients for maternal_fetal",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/maternal_fetal/assessments/{engine}": {
      "post": {
        "tags": [
          "assessments",
          "maternal_fetal"
        ],
        "summary": "Run maternal_fetal assessment engine",
        "parameters": [
          {
            "name": "engine",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/memory_clinic/health": {
      "get": {
        "tags": [
          "health",
          "memory_clinic"
        ],
        "summary": "Health check for memory_clinic department",
        "responses": {
          "200": {
            "description": "Department is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "dept": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/memory_clinic/patients": {
      "get": {
        "tags": [
          "patients",
          "memory_clinic"
        ],
        "summary": "List patients for memory_clinic",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "security": [
          {
[...]
